# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# VIRTUAL ENVIRONMENTS
# =========================
venv/
env/
markitdown-env/

# =========================
# PYINSTALLER
# =========================
build/
dist/
*.spec

# =========================
# MACOS
# =========================
.DS_Store

# =========================
# LOGS / TEMP FILES
# =========================
*.log
*.tmp

# =========================
# IDEs (optional)
# =========================
.vscode/
.idea/
